.container {
    position: absolute;
    bottom: 0;
    right: 50px;
    transform: translateY(50px);
    display: flex;
    flex-direction: column;
    border-radius: 10px 0 0 10px;
    border-right: none;
}

.content {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.logos {
    display: flex;
    gap: 10px;
}

.facebook-icon {
    fill: blue !important;
    width: 50px;
}

.youtube-icon {
    fill: red;
}