.container {
    position: absolute;
    bottom: 0;
    right: 50px;
    transform: translateY(50px);
    display: flex;
    flex-direction: column;
    border-radius: 10px 0 0 10px;
    border-right: none;
}

.content {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.logos {
    display: flex;
    gap: 10px;
}

.facebookIcon {
    color: #4267B2;
    width: 35px;
}

.youtubeIcon {
    color: #FF0000;
}