:root {
    --header-background: rgb(56, 42, 26);
    --header-button-color: rgb(250, 246, 240);
}

header {
    background-color: var(--header-background);
    min-height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid black;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

.logo-link {
    color: white;
    font-size: 3rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

nav {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 100vw;
    padding: 0 2rem;
}

.nav-links.right {
    display: flex;
    margin-left: auto;
    gap: 1.5rem;
    transform: translateX(-50px);
}

.nav-links.left {
    margin-left: 85px;
    position: relative;
    z-index: 1000; 
    display: flex;
    gap: 20px;
}

.nav-links a {
    font-size: 1.5rem;
    color: var(--header-button-color);
}

.side-menu-container {
    position: absolute;
    top: 2.5rem;
    left: -1rem;
    z-index: 998;
    animation: fadeIn 0.2s ease-in-out;
    height: 20rem;
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}

.side-menu-container .search-container {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.shop-btn-wrap {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.shop-btn-wrap p {
    color: var(--header-button-color);
    font-size: 1.5rem;
    margin-top: 3px;
}

.shop-btn-wrap svg {
    fill: var(--header-button-color);
    cursor: pointer;
}

.cart-icon, .account-icon {
    fill: var(--header-button-color);
    cursor: pointer;
}

.cart-icon-wrap {
    position: relative;
}

.cart-icon, .heart-icon {
    width: 35px;
    height: 35px;
    margin-top: 2px;
}

.heart-icon {
    fill: var(--header-button-color);
    cursor: pointer;
}

.account-icon {
    margin-right: -5px;
}

.cart-count {
  position: absolute;
  top: -8px;
  right: -8px;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 2px 5px;
  font-size: 0.75rem;
  font-weight: bold;
}