:root {
    --header-background: rgb(56, 42, 26);
    --header-button-color: antiquewhite;
}

header {
    background-color: var(--header-background);
    min-height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid black;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

.logo-link {
    color: white;
    font-size: 3rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

nav {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 100vw;
    padding: 0 2rem;
}

.nav-links.right {
    display: flex;
    margin-left: auto;
    gap: 1rem;
    transform: translateX(-50px);
}

.nav-links.left {
    margin-left: 85px;
    position: relative;
    z-index: 1000; 
}

.nav-links a {
    font-size: 1.5rem;
    color: var(--header-button-color);
}

.side-menu-container {
    position: absolute;
    top: 100%; /* Position below the SHOP button */
    left: 0;
    z-index: 1000;
    margin-top: -1px; /* Small gap between button and menu */
    animation: fadeIn 0.2s ease-in-out;
}

@keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
}

.side-menu-container .search-container {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.shop-btn-wrap {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.shop-btn-wrap p {
    color: var(--header-button-color);
    font-size: 1.5rem;
    margin-top: 3px;
}

.shop-btn-wrap svg {
    fill: var(--header-button-color);
}

.cart-icon, .account-icon {
    fill: var(--header-button-color);
}

.cart-icon {
    width: 35px;
    height: 35px;
    margin-top: 2px;
}