.sales-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: beige;
    overflow-x: hidden;
    z-index: 0;
    width: 100%;
    position: relative;
    padding-bottom: 8vh;
}

.sales-container h2 {
    font-size: 3rem;
    padding-top: 100px;
    padding-bottom: 20px;
}

.sales-card-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 10px;
    width: max-content;
    height: 40vh;
    border: 2px solid rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-left: none;
    border-right: none;
}

/* Restructured card with separate image and content areas */
.sales-card {
    width: 17vw;
    min-width: 200px;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 2px;
    overflow: hidden; /* Ensures content stays within borders */
}

.sales-card-image {
    flex: 1; /* Takes up available space */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    filter: brightness(120%);
}

.sales-card-content {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 0;
}

.sales-card-content h3 {
    margin: 0;
    font-weight: bold;
    font-size: 1rem;
}

.sales-card-price-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sales-card-price-content .sales-price {
    font-weight: bold;
    color: rgb(159, 46, 46);
    margin: 0;
}